table {
  border-collapse: collapse;
  width: 100%;
}

.th1 {
  background-color: #f2f2f2;
}

button {
  margin-left: 10px;
}

.score-table,
h3 {
  display: flex;
}

.recent-scores {
  margin: 0 40px;
}

input {
  margin: 10px;
}

#leaderboardTable {
  border: 1px solid black;
}

#submit-btn {
  display: flex;
  justify-content: flex-end;
}
